{% extends 'parent/base.html' %}
{% load thumbnail %}
{% load static %}
{% block title %}profile{% endblock %}
{% block content %}

<div style="width: 200px; height: 200px;">
    {% if request.user.photo %}
    <a href="{{ request.user.photo.url }}">
        <img src="{% thumbnail request.user.photo 200x0 quality=100 %}" alt="{{request.user.first_name}}" style="border-radius: 100px; width: 100%; height: 100%; object-fit: cover;">
    </a>
{% else %}
    <img src="{% static 'images/avatar/images.png' %}" alt="{{request.user.first_name}}" style="border-radius: 100px; width: 100%; height: 100%; object-fit: cover;">
{% endif %}
</div>
<br>
<p>
    {{ request.user.get_full_name }}
</p>
<hr>
{% for post in saved_posts %}
    <a href="{{ post.get_absolute_url }}">
        {{ post.author }}
        {{ post.description|truncatewords:20|linebreaks }}
        {{ post.created }}
        <br>
        {% for tag in post.tags.all %}
            <a href="{% url 'social:post_list_by_tag' tag_slug=tag.slug%}">
                {{ tag.name }}
            </a>
        {% if not forloop.last %}, {% endif %}
        {% endfor %}
    </a>
    <hr>
{% endfor %}
<div>
    <a href="{% url 'social:password_change' %}" class="btn" role="button" data-bs-toggle="button">تغییر پسورد</a>
    <a href="{% url 'social:edit_user' %}" class="btn" role="button" data-bs-toggle="button">تغییر اطلاعات شخصی</a>
    <a href="{% url 'social:user_logout' %}" class="btn" role="button" data-bs-toggle="button">خروج از حساب کاربری</a>
    <a href="{% url 'social:ticket' %}" class="btn" role="button" data-bs-toggle="button">ارسال تیکت به پشتیبانی</a>
    
</div>
{% endblock %}