{% extends 'parent/base.html' %}
{% load thumbnail %}
{% load static %}
{% block title %}users{% endblock %}
{% block content %}

{% for user in users %}
    <div style="width: 200px; height: 200px;">
        {% if user.photo %}
        <a href="{{ user.get_absolute_url }}">
            <img src="{% thumbnail user.photo 200x0 quality=100 %}" style="border-radius: 100px; width: 100%; height: 100%; object-fit: cover;">
        </a>
        {% else %}
        <img src="{% static 'images/avatar/images.png' %}" style="border-radius: 100px; width: 100%; height: 100%; object-fit: cover;">
        {% endif %}
    </div>
    <br>
    <a href="{{ user.get_absolute_url }}">
    {{ user.get_full_name }}
    </a>
    &nbsp;
{% endfor %}

{% endblock %}